<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="main w-full h-screen bg-zinc-400">
        <div class="home w-ful h-screen p-10">
            <form action="/update/<%= user._id %>" method="post">
                <input class="text-xl outline-none tracking-tighter py-1 px-2 text-black rounded-md" type="name" placeholder="name"  name="name" value="<%= user.name %>">
                <input class="text-xl outline-none tracking-tighter py-1 px-2 text-black rounded-md" type="username" placeholder="username" name="username" value="<%= user.username %>">
                <input class="text-xl outline-none tracking-tighter py-1 px-2 text-black rounded-md" type="email" placeholder="email" name="email" value="<%= user.email %>">
                <input class="text-xl outline-one tracking-tighter py-1 px-2 text-black rounded-md" type="password" placeholder="password" name="password" value="<%= user.password %>">
                  <button class="text-xl bg-yellow-500 py-1 rounded-md px-5">update</button>
            </form>
        </div>
    </div>
</body>
</html>